/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');


/* Astericks wildcard selectore to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: lightcoral;
}

/* h1*/
h1 {
    font-family: 'Oswald', sans-serif;
}

/* Main content */
main {
    /* Make main element make up for any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background-color: url("../images/hero-image.webp") no-repeat center center/cover;
}
/* Footer */
footer {
    background: orange;
}